[submodule "oss-templates/template-base"]
	path = oss-templates/template-base
	url = https://github.com/asecurityteam/template-base.git
	branch = master
[submodule "oss-templates/template-go-base"]
	path = oss-templates/template-go-base
	url = https://github.com/asecurityteam/template-go-base.git
	branch = master
[submodule "oss-templates/template-python-base"]
	path = oss-templates/template-python-base
	url = https://github.com/asecurityteam/template-python-base.git
	branch = master
[submodule "oss-templates/template-python-service"]
	path = oss-templates/template-python-service
	url = https://github.com/asecurityteam/template-python-service.git
	branch = master
[submodule "oss-templates/template-go-service"]
	path = oss-templates/template-go-service
	url = https://github.com/asecurityteam/template-go-service.git
	branch = master
[submodule "oss-templates/template-docker"]
	path = oss-templates/template-docker
	url = https://github.com/asecurityteam/template-docker.git
	branch = master
